<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<context-param>
		<param-name>weblogic.httpd.inputCharset./*</param-name>
		<param-value>gb2312</param-value>
	</context-param>
	<servlet>
		<servlet-name>jarResource</servlet-name>
		<servlet-class>servlet.JarResource</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProcessedServlet</servlet-name>
		<servlet-class>th.pd.servlet.ProcessedServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DBConnectionStateServlet</servlet-name>
		<servlet-class>th.pd.servlet.DBConnectionStateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JServlet</servlet-name>
		<servlet-class>th.servlet.JdhzServletPrint</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JzxjServlet</servlet-name>
		<servlet-class>th.servlet.JdzxjServletPrint</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JhhzServlet</servlet-name>
		<servlet-class>th.servlet.JdhhzServletPrint</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JfcjServlet</servlet-name>
		<servlet-class>th.servlet.JdfcjServletPrint</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MhzServlet</servlet-name>
		<servlet-class>th.servlet.MthzServletPrint</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MfcjServlet</servlet-name>
		<servlet-class>th.servlet.MtfcjServletPrint</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>mPrintServlet</servlet-name>
		<servlet-class>th.servlet.mPrintServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>historyPrintslt</servlet-name>
		<servlet-class>th.servlet.HistoryPrint</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RepeatPrint</servlet-name>
		<servlet-class>th.servlet.RepeatPrint</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HintProductDataError</servlet-name>
		<servlet-class>th.util.servlet.HintProductDataError</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>NewCarDataServlet</servlet-name>
		<servlet-class>th.pd.servlet.NewCarDataServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewCarDataServlet</servlet-name>
		<url-pattern>/NewCarDataServlet/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>HintProductDataError</servlet-name>
		<url-pattern>/HintProductDataError/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>jarResource</servlet-name>
		<url-pattern>/JarResource/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProcessedServlet</servlet-name>
		<url-pattern>/ProcessedServlet/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DBConnectionStateServlet</servlet-name>
		<url-pattern>/DBConnectionStateServlet/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JServlet</servlet-name>
		<url-pattern>/servlets/jprint</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JzxjServlet</servlet-name>
		<url-pattern>/servlets/jzxjprint</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JhhzServlet</servlet-name>
		<url-pattern>/servlets/jhhzprint</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JfcjServlet</servlet-name>
		<url-pattern>/servlets/jfcjprint</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MhzServlet</servlet-name>
		<url-pattern>/servlets/mhzprint</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MfcjServlet</servlet-name>
		<url-pattern>/servlets/mfcjprint</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>mPrintServlet</servlet-name>
		<url-pattern>/servlets/mjprint</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>historyPrintslt</servlet-name>
		<url-pattern>/servlets/historyPrint</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RepeatPrint</servlet-name>
		<url-pattern>/servlets/rePrint</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>th.listener.InitialListener</listener-class>
	</listener>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
</web-app>
